@charset "UTF-8";
/*Se asigna fuente al proyecto*/
html {
  color: white;
  font-family: "Josefin Sans", "sans-serif";
  font-size: 19px;
  min-height: 100%;
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  html {
    font-size: 14px;
  }
}

/*Reseteo posicionamiento de elementos*/
* {
  margin: 0;
  padding: 0;
}

/*Se da estilo al cuerpo de la página*/
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../Images/bgd.jpg");
  line-height: 1.5;
}

/*Saca el subrayado en links*/
.miLink {
  text-decoration: none;
}

header {
  background-repeat: space;
  background-size: cover;
  clear: both;
  z-index: 1001;
  width: 100%;
}
@media only screen and (max-width: 960px) {
  header {
    width: 80%;
    opacity: 100%;
  }
}

.miMenuContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  clear: both;
  right: 0;
  top: 0;
  margin-bottom: 5rem;
  justify-content: left;
  z-index: 1000;
}
@media only screen and (max-width: 960px) {
  .miMenuContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 55%;
    height: 100%;
    align-items: flex-start;
    right: inherit;
  }
}

.miMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to rigth, black, #C0392B);
  width: 100%;
  margin-left: 15%;
  z-index: 1000;
}
@media only screen and (max-width: 960px) {
  .miMenu {
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    opacity: 100%;
    width: 50%;
    left: -100%;
    /*Se corre para no ser visible hasta no apretar botón*/
    padding-top: 4rem;
    position: absolute;
    z-index: 1000;
    background-color: black;
  }
}

.miMenuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem 2rem 0rem 2rem;
  width: 100%;
}
@media only screen and (max-width: 960px) {
  .miMenuItem {
    align-items: flex-start;
    justify-content: left;
    width: 50%;
  }
}

/*Logo solo visible para responsive*/
.logoMenu {
  display: none;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
}
@media only screen and (max-width: 960px) {
  .logoMenu {
    display: flex;
  }
}

.miLogoMenu {
  width: 3rem;
  height: unset;
  right: 0;
}

.cierreMenu {
  display: none;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  color: white;
  text-align: right;
  position: absolute;
  top: -0.2rem;
  right: 1rem;
}
@media only screen and (max-width: 960px) {
  .cierreMenu {
    display: block;
  }
}

/*Define estilo de menu principal*/
.miEncabezado {
  color: white;
  font-family: "Josefin Sans", "sans-serif";
  display: flex;
  align-items: unset;
  justify-content: unset;
  text-shadow: 0.05rem 0.05rem #f11717;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  transition: transform 0.5s;
}
.miEncabezado:hover {
  transform: scale(1.2);
  opacity: 100%;
  text-shadow: 0.15rem 0.15rem gray;
  color: white;
}
.miEncabezado:active {
  color: white;
  text-shadow: 0.15rem 0.15rem black;
}
@media only screen and (max-width: 400px) {
  .miEncabezado {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .miEncabezado {
    font-size: 1rem;
  }
}

footer {
  /* background-image: url('img/head.jpg');
  background-repeat:space;
  background-size:cover; */
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 0.7rem;
  margin-top: 3rem;
}
footer p {
  letter-spacing: 0.1rem;
  word-spacing: 0.8rem;
  display: block;
  float: right;
  padding: 1rem;
  margin-top: 1rem;
}
footer .miIconoRS:hover {
  /*Efecto en íconos de footer*/
  transform: translateY(-0.3rem);
}

/*Se da estilo a íconos de de redes sociales*/
.miIconoRS {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  float: left;
  padding: 1rem;
  box-sizing: content-box;
  /*Se incluye para corregir defecto generado por Carusel*/
}
@media only screen and (max-width: 400px) {
  .miIconoRS {
    width: 1rem;
    height: 1rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .miIconoRS {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/*Se configura logo de header*/
.miLogo {
  width: 100%;
  height: unset;
  position: absolute;
  box-sizing: content-box;
  /*Se incluye para corregir defecto generado por Carusel*/
}

.modelLogo {
  left: 1rem;
  top: 1rem;
  position: absolute;
  width: 15%;
}

/*Se configura logo de footer*/
.miLogoGris {
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  margin-top: 0rem;
  float: right;
  box-sizing: content-box;
  /*Se incluye para corregir defecto generado por Carusel*/
  transition: 1s;
}
.miLogoGris:hover {
  width: 3rem;
  height: 3rem;
}
@media only screen and (max-width: 400px) {
  .miLogoGris {
    width: 1rem;
    height: 1rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .miLogoGris {
    width: 1.5rem;
    height: 1.5rem;
  }
}

div div div:hover ul {
  display: inline-block;
  position: absolute;
  font-family: "Josefin Sans", "sans-serif";
  text-shadow: 0.05rem 0.05rem #f11717;
  color: white;
  background-color: #464545;
  top: 2.5rem;
  width: 8rem;
  padding: 0;
}
@media only screen and (max-width: 960px) {
  div div div:hover ul {
    left: 8rem;
    top: auto;
  }
}
div div div ul {
  list-style: none;
  font-size: 0;
  position: absolute;
  display: none;
}
div div div ul li {
  display: block;
  text-align: right;
}

.portadaContainer {
  width: 90%;
  padding: 2rem;
  margin: auto;
}
@media only screen and (max-width: 960px) {
  .portadaContainer {
    width: 100%;
    padding: 0.5rem;
  }
}

.portadaItem {
  display: block;
  width: 98%;
  /*para equiparar tamañoo con carrousel*/
  text-shadow: 0.1rem 0.1rem #f11717;
  background-image: url("../Images/fondonuevo.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  border-radius: 0.25rem;
  margin: auto;
  padding: 1rem 1rem 1rem 10rem;
  opacity: 90%;
}
@media only screen and (max-width: 960px) {
  .portadaItem {
    padding: 1rem 1rem 1rem 7rem;
    opacity: 80%;
    background-size: contain;
  }
}
.portadaItem p {
  width: 100%;
  margin: 0;
}

.imgPortada {
  width: 100%;
}

.logoPortada {
  width: 25%;
  margin: 4rem;
  right: 0;
  position: absolute;
  z-index: 1000;
}
@media only screen and (max-width: 960px) {
  .logoPortada {
    padding-top: 2rem;
  }
}

.parrafoPortada {
  color: white;
  font-family: "Josefin Sans", "sans-serif";
  text-align: center;
  background-image: linear-gradient(to bottom, gray, black);
  opacity: 80%;
}
.parrafoPortada::first-letter {
  font-size: 38px;
  font-style: italic;
}
@media only screen and (max-width: 960px) {
  .parrafoPortada {
    font-size: 1rem;
  }
  .parrafoPortada::first-letter {
    font-size: 28.5px;
    font-style: italic;
  }
}

/*Container del carrousel*/
.galeriaPortadaContainer {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;
  border-radius: 2rem;
}

/*Se da formato a las Galerias individuales*/
.galeriaContainer {
  display: grid;
  grid-auto-flow: dense;
  /*Llena todos los espacios en caso de tener elementos de diferente tamaño*/
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  /*Me genera cant de columnas acorde a tamaño de pantalla*/
  grid-auto-rows: 15rem;
  grid-gap: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
}

.galeriaItem {
  position: relative;
  /*Se genera efecto zoom al mantener click en la imagen*/
}
.galeriaItem p {
  display: none;
}
.galeriaItem:active {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 7rem;
  z-index: 1000;
  background: linear-gradient(rgba(158, 153, 153, 0.1), black);
}
.galeriaItem:active img {
  width: 80%;
  z-index: 1000;
}
.galeriaItem img:hover {
  transform: translate(1rem, -1rem);
  cursor: pointer;
}

.miGaleria {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: width 0.8s, transform 0.5s;
}

.nosotrosContainer {
  display: grid;
  width: 90%;
  margin: auto;
  margin-bottom: 3rem;
  grid-template-columns: 50% 50%;
}
@media only screen and (max-width: 960px) {
  .nosotrosContainer {
    width: 80%;
    grid-template-columns: 95%;
    margin: 15%;
  }
}

.imgNosotros {
  box-shadow: 0.5rem 0.5rem gray;
  width: 90%;
  height: 100%;
}
.imgNosotros img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
}

.textNosotros {
  color: white;
  font-family: "Josefin Sans", "sans-serif";
  width: 90%;
  height: 100%;
  margin: auto;
  text-shadow: 0.1rem 0.1rem #f11717;
  font-size: 28.5px;
  background-color: #794134;
  border-radius: 1rem;
}
.textNosotros p {
  height: 100%;
  padding: 3rem;
}
.textNosotros::first-letter {
  font-size: 57px;
  font-style: italic;
}
@media only screen and (max-width: 960px) {
  .textNosotros {
    margin-top: 1rem;
    width: 80%;
    margin: 2rem;
    padding: 1rem;
    text-shadow: none;
    font-size: 1rem;
  }
}

.presentacionContainer {
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #794134;
  margin: 2rem;
  width: 90%;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 30% 60% 10%;
}

.presentacionItem {
  width: 100%;
  margin: auto;
}

.imgPresentacion {
  width: 80%;
  margin: auto;
  object-fit: cover;
}

.textPresentacion {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28.5px;
  box-shadow: 5px 10px #794134;
  padding: 1rem;
}
@media only screen and (max-width: 960px) {
  .textPresentacion {
    font-size: 19px;
  }
}

.finalizarContainer {
  color: white;
  font-family: "Josefin Sans", "sans-serif";
  background-color: black;
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #c1392b;
  border-radius: 1rem;
  margin: 0 5rem 1rem 5rem;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 8rem 2rem 8rem;
}
.finalizarContainer h2 {
  display: flex;
  text-decoration: underline;
  text-decoration-line: overline;
  text-decoration-color: #f11717;
  padding: 1rem;
}
.finalizarContainer p {
  display: block;
}
.finalizarContainer input[type=submit], .finalizarContainer input[type=button] {
  font-size: 0.9rem;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem;
}

.resumenCarrito {
  width: 50%;
  height: 40%;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 5rem;
  right: 0;
  padding: 1rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  text-decoration: none;
  justify-content: flex-end;
  color: white;
  font-family: "Josefin Sans", "sans-serif";
  z-index: 1000;
}
.resumenCarrito img {
  position: absolute;
  top: 0;
  right: 2.5rem;
  width: 2rem;
  cursor: pointer;
}
.resumenCarrito p {
  position: absolute;
  top: 0;
}
@media only screen and (max-width: 960px) {
  .resumenCarrito {
    width: 60%;
  }
}

.carritoContainer {
  color: white;
  font-family: "Josefin Sans", "sans-serif";
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  clear: both;
  top: 1.5rem;
  margin-top: 0.5rem;
  right: 2.5rem;
  background-color: black;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: #C0392B;
  z-index: 1000;
}
.carritoContainer .tablaCarrito {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 2rem;
  border-color: #C0392B;
  color: white;
}
.carritoContainer .tituloResumen {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  z-index: 1000;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-style: solid;
  border-width: 0.01rem;
  border-color: #C0392B;
}
.carritoContainer .tituloResumen p {
  text-align: center;
  width: 100%;
  right: 0;
}
.carritoContainer .botonesCarrito {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-top: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-style: solid;
  border-width: 0.01rem;
  border-color: black;
}

.carritoVacio {
  width: 100%;
  display: flex;
  position: absolute;
  height: 3rem;
  top: 1.7rem;
  right: 2.5rem;
  padding: 1rem;
  background-color: black;
  border-radius: 0.5rem;
  border-style: solid;
  border-color: #C0392B;
  z-index: 1000;
  display: none;
}
.carritoVacio p {
  padding: 1rem 0 1rem 7rem;
}
@media only screen and (max-width: 960px) {
  .carritoVacio p {
    padding: 0;
  }
}

.botonesCarrito {
  position: absolute;
  bottom: 0;
  width: 100%;
  right: 0;
  padding: 0.5rem;
  text-align: center;
  z-index: 1000;
}

.tiendaContainer {
  color: 0.05rem 0.05rem #f11717;
  font-family: "Josefin Sans", "sans-serif";
  clear: both;
  width: 100%;
  padding: 5rem;
  display: grid;
  grid-auto-flow: dense;
  /*Llena todos los espacios en caso de tener elementos de diferente tamaño*/
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-auto-rows: 25rem;
  grid-gap: 1.5rem;
  z-index: 900;
}
.tiendaContainer p {
  margin: 0;
}

.imgCarrito {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.botonTabla {
  width: 2rem;
  height: 2rem;
  background-color: red;
  border-radius: 0.5rem;
  border: none;
}

.formularioFinalizarContainer {
  width: 90%;
  margin: auto;
  margin-bottom: 3rem;
  grid-template-columns: 50% 50%;
}
@media only screen and (max-width: 960px) {
  .formularioFinalizarContainer {
    width: 80%;
    grid-template-columns: 95%;
    margin: 15%;
  }
}

.tablaResumen {
  color: white;
  font-family: "Josefin Sans", "sans-serif";
  align-items: center;
  justify-content: center;
  padding: 0 5% 0 5%;
  width: 100%;
}
.tablaResumen .table {
  color: white;
  font-family: "Josefin Sans", "sans-serif";
}
.tablaResumen .table input[type=number]::-webkit-inner-spin-button,
.tablaResumen .table input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.tablaResumen .table input[type=number] {
  -moz-appearance: textfield;
}
.tablaResumen .table .inputTabla {
  color: white;
  font-family: "Josefin Sans", "sans-serif";
  background: none;
  border: none;
}

.inputResumen {
  color: gray;
  font-family: "Josefin Sans", "sans-serif";
  font-style: italic;
  font-style: bold;
  background: none;
  border: none;
  -webkit-appearance: none;
  padding-left: 1rem;
  margin: 0;
}
.inputResumen input[type=number]::-webkit-inner-spin-button,
.inputResumen input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.inputResumen input[type=number] {
  -moz-appearance: textfield;
}

.formularioFinalizarItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
}
.formularioFinalizarItem .formularioFinalizarItem {
  flex-direction: row;
}
.formularioFinalizarItem label {
  font-size: 1rem;
  text-align: start;
  width: 100%;
}
.formularioFinalizarItem input {
  font-size: 1rem;
  width: 100%;
}
.formularioFinalizarItem input[type=number]::-webkit-inner-spin-button,
.formularioFinalizarItem input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.formularioFinalizarItem input[type=number] {
  -moz-appearance: textfield;
}
.formularioFinalizarItem .alertaFormulario {
  font-size: 0.8rem;
  color: rgba(245, 240, 240, 0.349);
  opacity: 100%;
  display: none;
}

.contactoContainer {
  display: grid;
  width: 90%;
  margin: auto;
  margin-bottom: 3rem;
  grid-template-columns: 50% 50%;
}
@media only screen and (max-width: 960px) {
  .contactoContainer {
    width: 80%;
    grid-template-columns: 95%;
    margin: 15%;
  }
}

.contactoItem {
  background-color: #794134;
  border-radius: 1rem;
}
@media only screen and (max-width: 400px) {
  .contactoItem {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .contactoItem {
    margin-top: 0.5rem;
  }
}

.imgContacto {
  box-shadow: 0.5rem 0.5rem gray;
  width: 90%;
  height: 100%;
}
.imgContacto img {
  width: 100%;
  object-fit: cover;
}

.contactoParrafo {
  color: white;
  font-family: "Viaoda Libre", cursive;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
}

.formularioContainer {
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-direction: column;
  padding-top: 1rem;
  width: 90%;
  margin: auto;
}

.formularioItem {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0;
  padding: 0.5rem;
}
.formularioItem label {
  font-size: 1.5rem;
  text-align: start;
  width: 100%;
}
.formularioItem input {
  font-size: 1rem;
  width: 100%;
}
.formularioItem input[type=submit], .formularioItem input[type=reset] {
  font-size: 1rem;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem;
}
.formularioItem textarea {
  width: 100%;
  height: 10rem;
  resize: none;
}

/*Se da estilo al cuerpo de los titulos*/
.miTitulo {
  color: white;
  font-family: "Josefin Sans", "sans-serif";
  font-style: italic;
  font-style: bold;
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-line: underline overline;
  text-decoration-color: #f11717;
  padding: 1rem;
  margin: 4rem 6rem;
  position: absolute;
  right: 0;
  top: 0;
}

.errorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.errorContainer img {
  width: 60%;
  box-shadow: 1rem 1rem gray;
  margin: 1rem;
}
.errorContainer p {
  padding-bottom: 1rem;
}

.errorTitulo {
  color: white;
  font-family: "Josefin Sans", "sans-serif";
  font-style: italic;
  font-style: bold;
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-line: underline overline;
  text-decoration-color: #f11717;
  margin-top: 1rem;
}

.errorTxt {
  color: white;
  font-family: "Josefin Sans", "sans-serif";
  font-size: 2rem;
}

/*# sourceMappingURL=style.css.map */
