@charset "UTF-8";
/*Se asigna fuente al proyecto*/
html {
  color: black;
  font-family: "Josefin Sans", "sans-serif";
  font-size: 19px;
  min-height: 100%;
  position: relative;
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  html {
    font-size: 14px;
  }
}

/*Reseteo posicionamiento de elementos*/
* {
  Margin: 0;
  padding: 0;
}

/*Se da estilo al cuerpo de la página*/
body {
  background-size: cover;
  background-repeat: repeat;
  background-image: linear-gradient(to bottom, white, #3c5e63);
}

/*Saca el subrayado en links*/
.miLink {
  text-decoration: none;
}

header {
  background-repeat: space;
  background-size: cover;
  clear: both;
  position: fixed;
  top: 0px;
  z-index: 1001;
  opacity: 85%;
  width: 100%;
}
@media only screen and (max-width: 400px) {
  header {
    width: 80%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  header {
    width: 80%;
  }
}

.miMenuContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (max-width: 400px) {
  .miMenuContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .miMenuContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }
}

.miMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  opacity: 75%;
}
@media only screen and (max-width: 400px) {
  .miMenu {
    justify-content: center;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .miMenu {
    justify-content: center;
  }
}

.miMenuItem {
  display: flex;
  align-items: unset;
  justify-content: unset;
  padding: 0rem 2rem 0rem 2rem;
  width: 15rem;
}
@media only screen and (max-width: 400px) {
  .miMenuItem {
    justify-content: center;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .miMenuItem {
    justify-content: center;
  }
}

/*Define estilo de menu principal*/
.miEncabezado {
  color: black;
  font-family: "Cinzel", serif;
  display: flex;
  align-items: unset;
  justify-content: unset;
  text-shadow: 0.15rem 0.15rem white;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: transform 0.5s;
}
.miEncabezado:hover {
  transform: scale(1.2);
  opacity: 100%;
  text-shadow: 0.15rem 0.15rem gray;
  color: black;
}
.miEncabezado:active {
  color: white;
  text-shadow: 0.15rem 0.15rem black;
}
@media only screen and (max-width: 400px) {
  .miEncabezado {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .miEncabezado {
    font-size: 1rem;
  }
}

footer {
  /* background-image: url('img/head.jpg');
  background-repeat:space;
  background-size:cover; */
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 0.7rem;
  margin-top: 3rem;
}
footer p {
  letter-spacing: 0.1rem;
  word-spacing: 0.8rem;
  display: block;
  float: right;
  padding: 1rem;
  margin-top: 1rem;
}
footer .miIconoRS:hover {
  /*Efecto en íconos de footer*/
  transform: translateY(-0.3rem);
}

/*Se da estilo a íconos de de redes sociales*/
.miIconoRS {
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  float: left;
  padding: 1rem;
  box-sizing: content-box;
  /*Se incluye para corregir defecto generado por Carusel*/
}
@media only screen and (max-width: 400px) {
  .miIconoRS {
    width: 1rem;
    height: 1rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .miIconoRS {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/*Se configura logo de header*/
.miLogo {
  width: 3rem;
  height: 3rem;
  box-sizing: content-box;
  /*Se incluye para corregir defecto generado por Carusel*/
}
@media only screen and (max-width: 400px) {
  .miLogo {
    width: 1rem;
    height: 1rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .miLogo {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/*Se configura logo de header al hacer click(efecto)*/
.miLogoClick {
  width: 3rem;
  height: 3rem;
  display: none;
}
@media only screen and (max-width: 400px) {
  .miLogoClick {
    width: 0.5rem;
    height: 0.5rem;
    padding: 0.5rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .miLogoClick {
    width: 1rem;
    height: 1rem;
    padding: 0.5rem;
  }
}

.modelLogo {
  display: flex;
  align-items: center;
  justify-content: unset;
}
.modelLogo:hover .miLogo {
  display: none;
}
.modelLogo:hover .miLogoClick {
  display: block;
}

/*Se configura logo de footer*/
.miLogoGris {
  width: 2rem;
  height: 2rem;
  padding: 1rem;
  margin-top: 0rem;
  float: right;
  box-sizing: content-box;
  /*Se incluye para corregir defecto generado por Carusel*/
  transition: 1s;
}
.miLogoGris:hover {
  width: 3rem;
  height: 3rem;
}
@media only screen and (max-width: 400px) {
  .miLogoGris {
    width: 1rem;
    height: 1rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .miLogoGris {
    width: 1.5rem;
    height: 1.5rem;
  }
}

div div:hover ul {
  display: inline-block;
  font-family: "Josefin Sans", "sans-serif";
  text-shadow: 0.15rem 0.15rem white;
  color: black;
  background-color: #464545;
  margin-top: 50px;
  margin-left: 0;
  width: 8rem;
}
div div ul {
  list-style: none;
  font-size: 0;
  position: absolute;
  display: none;
}
div div ul li {
  display: block;
}

.portadaContainer {
  margin: 6rem 0rem 1rem 8rem;
  display: flex;
  align-items: center;
  justify-content: unset;
}
@media only screen and (max-width: 400px) {
  .portadaContainer {
    margin-left: 10px;
    margin-top: 8rem;
    margin-bottom: 200px;
    justify-content: left;
    width: 250px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .portadaContainer {
    margin-left: 10px;
    margin-top: 1rem;
    margin-bottom: 200px;
    justify-content: left;
    width: 250px;
  }
}

.portadaItem {
  display: flex;
  align-items: unset;
  justify-content: unset;
  width: 450px;
}
@media only screen and (max-width: 400px) {
  .portadaItem {
    width: 100%;
    position: absolute;
    display: flex;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .portadaItem {
    margin-top: 15rem;
    width: 100%;
    position: absolute;
    display: flex;
  }
}

.imgPortada {
  width: 100%;
}

.imgPortadatxt {
  display: flex;
  align-items: unset;
  justify-content: unset;
  opacity: 35%;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 400px) {
  .imgPortadatxt {
    display: none;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .imgPortadatxt {
    display: none;
  }
}

.parrafoPortada {
  color: black;
  font-family: "Josefin Sans", "sans-serif";
  text-shadow: 0.15rem 0.15rem white;
}
.parrafoPortada::first-letter {
  font-size: 38px;
  font-style: italic;
}
@media only screen and (max-width: 400px) {
  .parrafoPortada {
    width: 100%;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .parrafoPortada {
    width: 100%;
    font-size: 1rem;
  }
}

/*Se da formato a las galerias de  imagenes en gral*/
.miGaleria {
  width: 20rem;
  padding-bottom: 12vh;
  transition: width 0.8s, transform 0.5s;
}

.galeriaPortadaContainer {
  display: inline-block;
  margin-left: 8rem;
  margin-bottom: 10rem;
  width: 1058px;
}
@media only screen and (max-width: 400px) {
  .galeriaPortadaContainer {
    width: 380px;
    margin-left: 8px;
    margin-bottom: 200px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .galeriaPortadaContainer {
    width: 600px;
    margin-left: 8px;
    margin-bottom: 200px;
  }
}

/*Se da formato a las Galeroias individuales*/
.galeriaContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.galeriaContainer:active .fondoZoom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  width: 10000%;
  height: 1000%;
  z-index: 999;
}
@media only screen and (max-width: 400px) {
  .galeriaContainer {
    margin-top: 200px;
    margin-left: 8px;
    margin-bottom: 200px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .galeriaContainer {
    margin-top: 200px;
    margin-left: 8px;
    margin-bottom: 200px;
  }
}

.fondoZoom {
  display: none;
}

.galeriaItem {
  display: flex;
  align-items: unset;
  justify-content: unset;
}
.galeriaItem p {
  display: none;
}
.galeriaItem:active img {
  /*Se genera efecto zoom al mantener click en la imagen*/
  position: fixed;
  top: 3rem;
  left: 25rem;
  width: 30rem;
  /*PERDON, FUE LA UNICA MANERA DE METER UNA SUMA JAJA*/
  z-index: 1000;
}
.galeriaItem:hover p {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 800;
  Position: absolute;
  text-shadow: 0.1rem 0.1rem gray;
  color: black;
  font-family: "Josefin Sans", "sans-serif";
  margin-top: 10rem;
  margin-left: 6rem;
  opacity: 90%;
}
.galeriaItem:hover img {
  transform: translate(1rem, -1rem);
}
@media only screen and (max-width: 400px) {
  .galeriaItem img {
    width: 11.1111111111rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .galeriaItem img {
    width: 13.3333333333rem;
  }
}

.nosotrosContainer {
  display: grid;
  margin-left: 3rem;
  margin-bottom: 1rem;
  grid-template-columns: 740px 500px;
}
@media only screen and (max-width: 400px) {
  .nosotrosContainer {
    margin-left: 0;
    margin-bottom: 1rem;
    grid-template-columns: 80%;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .nosotrosContainer {
    margin-left: 0;
    margin-bottom: 1rem;
    grid-template-columns: 80%;
  }
}

.imgNosotros {
  box-shadow: 10px 10px gray;
}
@media only screen and (max-width: 400px) {
  .imgNosotros {
    width: 300px;
    height: 324px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .imgNosotros {
    width: 390px;
    height: 422px;
  }
}

.textNosotros {
  color: black;
  font-family: "Josefin Sans", "sans-serif";
  text-shadow: 0.15rem 0.15rem white;
  font-size: 38px;
  font-family: "Caveat", cursive;
  background-color: #5b7e92;
  border-radius: 1rem;
  padding: 3rem 1rem 1rem 1rem;
}
.textNosotros::first-letter {
  font-size: 57px;
  font-style: italic;
}
@media only screen and (max-width: 400px) {
  .textNosotros {
    margin-top: 1rem;
    width: 100%;
    text-shadow: none;
    font-size: 17.1px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .textNosotros {
    text-shadow: none;
    font-size: 19px;
  }
}

.presentacionContainer {
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #5b7e92;
  margin-left: 3rem;
  margin-bottom: 10rem;
  width: 1220px;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 360px 740px 140px;
}
@media only screen and (max-width: 400px) {
  .presentacionContainer {
    width: 100%;
    margin-left: 0;
    grid-template-columns: 300px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .presentacionContainer {
    width: 100%;
    grid-template-columns: 420px;
    margin-left: 0;
  }
}

.presentacionItem {
  margin: 1rem;
}

@media only screen and (max-width: 400px) {
  .imgPresentacion {
    width: 100px;
    height: 100px;
    padding: 0;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .imgPresentacion {
    width: 200px;
    height: 200px;
    padding: 0;
  }
}

.textPresentacion {
  /*Color de texto provisorio, ya que posiblemte cambie el fondo*/
  color: black;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28.5px;
  box-shadow: 5px 10px grey;
}
@media only screen and (max-width: 400px) {
  .textPresentacion {
    font-size: 12.6666666667px;
    padding: 1rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .textPresentacion {
    font-size: 19px;
    padding: 1rem;
  }
}

.contactoContainer {
  display: grid;
  margin-bottom: 200px;
  margin-left: 1rem;
  grid-template-columns: 700px 600px;
}
@media only screen and (max-width: 400px) {
  .contactoContainer {
    margin-left: 1rem;
    margin-bottom: 200px;
    grid-template-columns: 370px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .contactoContainer {
    margin-left: 1rem;
    margin-bottom: 200px;
    grid-template-columns: 440px;
  }
}

.contactoItem {
  margin-top: 1.5rem;
  background-color: #6f95aa;
  border-radius: 1rem;
}
@media only screen and (max-width: 400px) {
  .contactoItem {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .contactoItem {
    margin-top: 0.5rem;
  }
}

.imgContacto {
  height: 950px;
  width: 640px;
  margin-top: 2rem;
  box-shadow: 10px 10px gray;
}
@media only screen and (max-width: 400px) {
  .imgContacto {
    width: 300px;
    height: 324px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .imgContacto {
    width: 390px;
    height: 422px;
  }
}

.contactoParrafo {
  padding: 2rem;
  color: black;
  font-family: "Viaoda Libre", cursive;
  font-size: 2rem;
}
@media only screen and (max-width: 400px) {
  .contactoParrafo {
    padding: 0;
    font-size: 17.1px;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .contactoParrafo {
    padding: 0;
    font-size: 19px;
  }
}

.formularioContainer {
  display: flex;
  align-items: flex-start;
  justify-content: unset;
  flex-direction: column;
  padding: 1rem;
  padding-top: 2rem;
}
@media only screen and (max-width: 400px) {
  .formularioContainer {
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 50px;
    padding-top: 0;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .formularioContainer {
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.formularioItem {
  display: flex;
  padding: 0.3rem;
  margin: 0;
}
.formularioItem label {
  font-size: 1.5rem;
}
@media only screen and (max-width: 400px) {
  .formularioItem label {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .formularioItem label {
    font-size: 1rem;
  }
}
.formularioItem input {
  font-size: 1.5rem;
  width: 25rem;
}
@media only screen and (max-width: 400px) {
  .formularioItem input {
    font-size: 1rem;
    width: 15rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .formularioItem input {
    font-size: 1rem;
    width: 15rem;
  }
}
.formularioItem input[type=submit], .formularioItem input[type=reset] {
  margin-right: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  width: 8rem;
}
@media only screen and (max-width: 400px) {
  .formularioItem input[type=submit], .formularioItem input[type=reset] {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 4 rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .formularioItem input[type=submit], .formularioItem input[type=reset] {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    width: 4 rem;
  }
}
.formularioItem textarea {
  width: 25rem;
  font-size: 1rem;
}
@media only screen and (max-width: 400px) {
  .formularioItem textarea {
    width: 15rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 960px) {
  .formularioItem textarea {
    width: 15rem;
  }
}

/*Se da estilo al cuerpo de los titulos*/
.miTitulo {
  color: black;
  font-family: "Josefin Sans", "sans-serif";
  font-style: italic;
  font-style: bold;
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-line: underline overline;
  text-decoration-color: black;
  padding: 1rem;
  margin: 3rem 1rem 1rem 1rem;
}

/*# sourceMappingURL=style.css.map */
