
$txt-size:19px;
$txt-color: white;
$txt-color-header: white;
$txt-color-active:white;
$txt-shadow: 0.1rem 0.1rem rgb(241, 23, 23);
$txt-shadow-hover: 0.15rem 0.15rem gray;
$txt-shadow-active: 0.15rem 0.15rem black;
$txt-shadow-header:  0.05rem 0.05rem rgb(241, 23, 23);
$font-family: 'Josefin Sans', 'sans-serif';
$font-family-header: 'Raleway', sans-serif;
$font-family-nosotros: 'Caveat', cursive;
$font-family-presenta: 'Source Sans Pro', sans-serif;
$font-family-contacto: 'Viaoda Libre', cursive;
// $bgd-image:linear-gradient(to bottom, rgb(77, 111, 116) ,  gray);
$bgd-image:linear-gradient(to bottom,  rgb(12, 12, 12), rgb(235, 118, 23));
$bgd-image-header:linear-gradient(rgba(39, 36, 36, 0.5), rgba(145, 99, 47, 0.5));
$width-img-galeria:20rem;
$width-logo:3rem;
$width-logoGris: 2rem;