.contactoContainer{
  display: grid;
  width: 90%;
  margin: auto;
  margin-bottom: 3rem;
  grid-template-columns: 50% 50%;

  @media only screen and (max-width: 960px) {
    width: 80%;
    grid-template-columns: 95%;
    margin:15%;
  }

}

.contactoItem{
  background-color: rgb(121, 65, 52);
  border-radius: 1rem;

  @media only screen and (max-width: 400px) {
    margin-top:0.5rem;
    margin-bottom:2rem;
  }
  
  @media only screen and (min-width: 400px)and (max-width: 960px) {
    margin-top:0.5rem;
  } 
}

.imgContacto{
  box-shadow: .5rem .5rem gray;
  width:90%;
  height:100%;
  img{
    width: 100%;
    object-fit: cover;
  }

}


.contactoParrafo{
  @include text($txt-color, $font-family-contacto);
  font-size: 1.5rem; 
  padding: 1rem; 
  width: 100%;

}

.formularioContainer{
    @include flexbox(flex, center, unset);
    flex-direction: column;
    padding-top:1rem;
    width: 90%;
    margin: auto;
    
}

.formularioItem{
    display:flex;
    justify-content: center;
    width: 90%;
    margin:0;
    padding:0.5rem; 
  


    label{
      font-size: 1.5rem;
      text-align: start;
      width: 100%;
    }
    input{
      font-size: 1rem;
     
      width: 100%;

    }

    input[type=submit] ,input[type=reset]{
      font-size: 1rem;
      border-radius: 0.5rem; 
      width: 100%;
      padding:0.5rem;

    }

 

    textarea{
      width: 100%;
      height: 10rem;
      resize: none;
    

    }



}

