div {
   div{
      &:hover ul {
         display:inline-block;
         font-family: $font-family;
         text-shadow: $txt-shadow-header;
         color: $txt-color-header;
         background-color: rgb(70, 69, 69);
         margin-top: 50px;
         margin-left:0;
         width:8rem;
      }
   
    ul{
       list-style: none;
       font-size:0;
       position: absolute;
       display: none;
   
       li {
           display: block;
        }
   }
   }
}