div {
   div{
      &:hover ul {
         display:inline-block;
         font-family: $font-family;
         text-shadow: 0.15rem 0.15rem brown;
         color: rgb(236, 166, 61);
         background-image: linear-gradient(to bottom, #e1c949 ,  #8d6f05 );
         margin-top: 50px;
         margin-left:0;
         width:8rem;
      }
   
    ul{
       list-style: none;
       font-size:0;
       position: absolute;
       display: none;
   
       li {
           display: block;
        }
   }
   }
}