div{
   div{
      div{
         &:hover ul {
            display:inline-block;
            position: absolute;
            font-family: $font-family;
            text-shadow: $txt-shadow-header;
            color: $txt-color-header;
            background-color: rgb(70, 69, 69);
            top:1.5rem;
            width:8rem;
            padding:0; 
            @media only screen and (max-width: 960px) {
               left: 8rem;
               top:auto;
            } 
            
         }
   
       ul{
          list-style: none;
          font-size:0;
          position: absolute;
          display: none;
          
   
          li {
              display: block;   
              text-align: right;           
           }
         }
      }
   }
}