header{
    background-repeat:space;
    background-size:cover;
    clear: both;
    position: fixed;
    top:0px;
    z-index: 1001;
    opacity: 85%;
    width: 100%;

    @media only screen and (max-width: 400px) {
     
      width: 80%;
    }

    @media only screen and (min-width: 400px)and (max-width: 960px) {
      width: 80%;

     
    }
}

.miMenuContainer{
    @include flexbox(flex, center, space-between);
    width:100%;
    @media only screen and (max-width: 400px) {
      @include flexbox(flex, center, space-around);
      width: 100%;
      align-items:center;
      }

      @media only screen and (min-width: 400px)and (max-width: 960px) {
       
        @include flexbox(flex, center, space-around);
        width: 100%;
        align-items: center;
      }


}

.miMenu{
    @include flexbox(flex, center, space-between);
    width:100%;
    opacity: 75%;

    @media only screen and (max-width: 400px) {
     
        justify-content: center;
      }

      @media only screen and (min-width: 400px)and (max-width: 960px) {
      
        justify-content: center;
      }
}

.miMenuItem{
    @include flexbox(flex, unset,unset);
     padding:0rem 2rem 0rem 2rem;
     width: 15rem;

   
    @media only screen and (max-width: 400px) {
   
        justify-content: center;
      }

      @media only screen and (min-width: 400px)and (max-width: 960px) {
     
        justify-content: center;
      }
    }

/*Define estilo de menu principal*/
.miEncabezado{
    @include text($txt-color-header, $font-family-header);
    @include flexbox(flex, unset, unset);
    text-shadow:$txt-shadow-header;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    transition: transform 0.5s;
    &:hover{
        transform: scale(1.2);
        opacity: 100%;
        text-shadow: $txt-shadow-hover;
        color: $txt-color-header;
    }

    &:active{
        color: $txt-color-active;
        text-shadow:$txt-shadow-active;
      }


      @media only screen and (max-width: 400px) {
        font-size: 1rem;
      }
      @media only screen and (min-width: 400px)and (max-width: 960px) {
        font-size: 1rem;
      }

   
    }