header{
    background-repeat:space;
    background-size:cover;
    clear: both;
    z-index: 1001;
    width: 100%;

    @media only screen and (max-width: 960px) {
      width: 80%;
      opacity: 100%;

    }
  
}

.miMenuContainer{
    @include flexbox(flex, center, space-between);
    width:100%;
    height: 4rem;
    clear: both;
    right:0;
    top:0;
    margin-bottom: 5rem;
    justify-content: left; 
    z-index: 1000;  
    @media only screen and (max-width: 960px) {
      @include flexbox(flex, center, space-around);
      width: 55%;
      height: 100%;
      align-items:flex-start;
      right: inherit;
      
      }

    


}

.miMenu{
    @include flexbox(flex, center, space-between);
    background: $bgd-image-header;
    width: 100%;
    margin-left: 15%;
    z-index: 1000;
      @media only screen and (max-width: 960px) {
        margin:0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        opacity: 100%;
        width: 50%;
        left:-100%;/*Se corre para no ser visible hasta no apretar botón*/
        padding-top: 4rem;
        position: absolute;
        z-index: 1000;
        background-color: black; ;
        }
     
      
}

.miMenuItem{
    @include flexbox(flex, center,center);
     padding:0rem 2rem 0rem 2rem;
     width: 100%;
     @media only screen and (max-width: 960px) {
      align-items: flex-start;
      justify-content: left;
      width: 50%;
    }
  }

/*Logo solo visible para responsive*/
    .logoMenu{ 
      display: none;
      width: 100%;
      top: 0;
      left:0;
      z-index: 1001;
        
      @media only screen and (max-width: 960px) {
        display: flex;
      }
    }
  
    .miLogoMenu{
      @include logo(3rem, unset);
      right: 0;
      
    }

    .cierreMenu{
      display:none;
      width: 100%;
      font-size: 1rem;
      padding: 1rem;
      color: white;
      text-align: right;
      position: absolute;
      top: -0.2rem;
      right: 1rem;
      @media only screen and (max-width: 960px) {
        display: block;
      }
      
    }





/*Define estilo de menu principal*/
.miEncabezado{
    @include text($txt-color-header, $font-family-header);
    @include flexbox(flex, unset, unset);
    text-shadow:$txt-shadow-header;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    transition: transform 0.5s;
    &:hover{
        transform: scale(1.2);
        opacity: 100%;
        text-shadow: $txt-shadow-hover;
        color: $txt-color-header;
    }

    &:active{
        color: $txt-color-active;
        text-shadow:$txt-shadow-active;
      }


      @media only screen and (max-width: 400px) {
        font-size: 1rem;
      }
      @media only screen and (min-width: 400px)and (max-width: 960px) {
        font-size: 1rem;
      }

   
    }