/*Se da estilo a íconos de de redes sociales*/
.miIconoRS{
    @include logo(1.5rem, 1.5rem);
    display:block;
    float: left;
    padding:1rem;
    box-sizing: content-box;/*Se incluye para corregir defecto generado por Carusel*/

    @media only screen and (max-width: 400px) {
      @include logo(1rem, 1rem);
    }

    @media only screen and (min-width: 400px)and (max-width: 960px) {
      @include logo(1.5rem, 1.5rem);
    }
}

/*Se configura logo de header*/
.miLogo{
    @include logo(3rem, 3rem);
    box-sizing: content-box;/*Se incluye para corregir defecto generado por Carusel*/

    @media only screen and (max-width: 400px) {
      @include logo(1rem, 1rem);
    }

    @media only screen and (min-width: 400px)and (max-width: 960px) {
      @include logo(1.5rem, 1.5rem);
    }
}

 /*Se configura logo de header al hacer click(efecto)*/
 .miLogoClick{
    @include logo(3rem, 3rem);
    display:none;

    @media only screen and (max-width: 400px) {
        @include logo(0.5rem, 0.5rem);
        padding:0.5rem;
      }
  
      @media only screen and (min-width: 400px)and (max-width: 960px) {
        @include logo(1rem, 1rem);
        padding:0.5rem;
      }
}

.modelLogo{
    @include flexbox(flex, center, unset);

     &:hover .miLogo{
        display:none;
    }

    &:hover .miLogoClick{
        display:block;
    }

}

/*Se configura logo de footer*/
.miLogoGris{
    @include logo(2rem, 2rem);
    padding:1rem;
    margin-top: 0rem;
    float: right;
    box-sizing: content-box;/*Se incluye para corregir defecto generado por Carusel*/
    transition: 1s;
    &:hover{
        @include logo($width-logoGris+1rem, $width-logoGris+1rem);

     }
     @media only screen and (max-width: 400px) {
      @include logo(1rem, 1rem);
    }

    @media only screen and (min-width: 400px)and (max-width: 960px) {
      @include logo(1.5rem, 1.5rem);
    }
}


