.portadaContainer{
    width: 90%;
    padding:2rem;
    margin:auto;
    @media only screen and (max-width: 960px) {
        width: 100%;
        padding: .5rem;
    }
        

}

.portadaItem{
    display: block;
    width: 98%;/*para equiparar tamañoo con carrousel*/
    text-shadow:$txt-shadow;
    background-image: url('../Images/fondonuevo.jpg');
    background-size: cover;
    background-repeat:repeat-y;
    border-radius: .25rem;
    margin: auto;
    padding: 1rem 1rem 1rem 10rem;
    opacity: 90%;
    @media only screen and (max-width: 960px) {
        padding:1rem 1rem 1rem 7rem;
        opacity: 80%;
        background-size:contain;       
    }

    p{
        width: 100%;
        margin: 0;
    }
}


.imgPortada{
    width: 100%;
}

.logoPortada{
    width: 25%;
    margin:4rem;
    right:0;
    position: absolute;
    z-index: 1000;
    @media only screen and (max-width: 960px) {
        padding-top:2rem;
      }
}


.parrafoPortada{
    @include text($txt-color, $font-family);
    text-align: center;
    background-image:  linear-gradient(to bottom, gray, black);
    
    opacity:80%;
    &::first-letter{
        font-size: $txt-size*2;
        font-style: italic;
    }

    @media only screen and (max-width: 960px)  {

        font-size: 1rem;
        &::first-letter{
            font-size: $txt-size*1.5;
            font-style: italic;
        }
    }
  


}