


.nosotrosContainer{
  display: grid;
  margin-left: 3rem;
  margin-bottom: 1rem;
  grid-template-columns: 740px 500px;

  @media only screen and (max-width: 400px) {
    margin-left: 0;
    margin-bottom: 1rem;
    grid-template-columns: 80%;
  }

  @media only screen and (min-width: 400px)and (max-width: 960px) {
    margin-left: 0;
    margin-bottom: 1rem;
    grid-template-columns: 80%;
  }
  

}

.imgNosotros{
box-shadow: 10px 10px gray;
@media only screen and (max-width: 400px) {
  width:300px;
  height: 324px;
}

@media only screen and (min-width: 400px)and (max-width: 960px) {
  width:390px;
 height: 422px;
}  
}



.textNosotros{
  @include text($txt-color, $font-family);
    text-shadow:$txt-shadow;
    font-size: $txt-size*2;
    font-family: $font-family-nosotros;
    background-color: rgb(121, 65, 52);
    border-radius: 1rem;
   
    padding: 3rem 1rem 1rem 1rem ;
    &::first-letter{
        font-size: $txt-size*3;
        font-style: italic;
    }

    @media only screen and (max-width: 400px) {
      margin-top: 1rem;
      width: 100%;
      text-shadow:none;
      font-size: $txt-size*0.9; 
          
    }

    @media only screen and (min-width: 400px)and (max-width: 960px) {
      text-shadow:none;
      font-size: $txt-size;  
     
    }
}


.presentacionContainer{
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem  rgb(121, 65, 52);
  margin-left: 3rem;
  margin-bottom: 10rem;
  width: 1220px;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 360px 740px 140px;
  @media only screen and (max-width: 400px) {
    width: 100%;
      margin-left: 0;
      grid-template-columns: 300px;
    }

    @media only screen and (min-width: 400px)and (max-width: 960px) {
      width: 100%;
      grid-template-columns: 420px;
      margin-left:0;
    }

}

.presentacionItem{
  margin:1rem;
}
.imgPresentacion{
  
  @media only screen and (max-width: 400px) {
       width: 100px ;
       height: 100px;
       padding: 0;
      
     }

     @media only screen and (min-width: 400px)and (max-width: 960px) {
       width: 200px;
       height: 200px;
       padding: 0;
      
     }
}

.textPresentacion{
  @include text($txt-color, $font-family-presenta);
  font-size: $txt-size*1.5;
  box-shadow: 5px 10px rgb(121, 65, 52);

  @media only screen and (max-width: 400px) {
    font-size: $txt-size/1.5;

    padding:1rem;
   
  }

  @media only screen and (min-width: 400px)and (max-width: 960px) {
      font-size: $txt-size;
  
      padding:1rem;
      
  }

}
