


.nosotrosContainer{
  display: grid;
  width: 90%;
  margin: auto;
  margin-bottom: 3rem;
  grid-template-columns: 50% 50%;

  @media only screen and (max-width: 960px) {
    width: 80%;
    grid-template-columns: 95%;
    margin:15%;
  }

}

.imgNosotros{
  box-shadow: .5rem .5rem gray;
  width:90%;
  height:100% ;
  img{
    width: 100%;
    height: fit-content;
    object-fit: cover;
  }

}



.textNosotros{
  @include text($txt-color, $font-family);
    width: 90%;
    height: 100%;
    margin:auto;
    text-shadow:$txt-shadow;
    font-size: $txt-size*1.5;
    background-color: rgb(121, 65, 52);
    border-radius: 1rem;
    p{
      height: 100%;
      padding:3rem;
    }

    &::first-letter{
        font-size: $txt-size*3;
        font-style: italic;
    }

    @media only screen and (max-width: 960px) {
      margin-top: 1rem;
      width: 80%;
      margin:2rem;
      padding:1rem;
      text-shadow:none;
      font-size: 1rem;

    }

}


.presentacionContainer{
  box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem  rgb(121, 65, 52);
  margin: 2rem;
  width: 90%;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 30% 60% 10%;
}

.presentacionItem{
  width: 100%;
  margin:auto;
}
.imgPresentacion{
  width: 80%;
  margin:auto;
  object-fit: cover;
}

.textPresentacion{
  @include text($txt-color, $font-family-presenta);
  font-size: $txt-size*1.5;
  box-shadow: 5px 10px rgb(121, 65, 52);
  padding:1rem;

  @media only screen and (max-width: 960px)  {
    font-size: $txt-size;
  }



}
