@import "../variables/variables";
@import "../functions/mixins";


/*Se asigna fuente al proyecto*/
html{
    @include text($txt-color, $font-family);
    font-size: $txt-size;
    min-height: 100%;

    @media only screen and (max-width: 400px) {
        font-size: 10px;
      }

      @media only screen and (min-width: 400px)and (max-width: 960px) {
        font-size: 14px;
      }
}
/*Reseteo posicionamiento de elementos*/
* {
    margin:0;
    padding:0;
    // position:relative;
 }

  /*Se da estilo al cuerpo de la página*/
  body{
    background-size:cover;
    background-repeat: no-repeat;
    background-image: $bgd-image;
   /// background-color: $bgd-color;
    line-height: 1.5;
}

/*Saca el subrayado en links*/
.miLink{
    text-decoration: none;
}