/*Se da estilo al cuerpo de los titulos*/
.miTitulo{
    @include text($txt-color, $font-family);
    font-style: italic;
    font-style:bold;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-line: underline overline;
    text-decoration-color: rgb(241, 23, 23);
    padding: 1rem;
    margin:3rem 1rem 1rem 1rem;
    
   
}





     

